{% extends 'base.html' %} {% block title %}MEN Category Products{% endblock %}
{% block body %}
<div class="container mt-2">
    <h2 class="mb-4 text-center">MEN</h2>
</div>

<!-- Product Cards -->
<div class="container my-3">
    {% if products %}
    <div class="row row-cols-3 g-3">
        {% for product in products %}
        <div class="col">
            <div class="card h-100 shadow-sm border border-4 border-dark rounded-3"
                style="width: 100%; max-width: 500px">
                <img src="{{ product.image }}" class="card-img-top rounded-top-4" alt="{{ product.name }}"
                    style="height: 290px; object-fit: contain" />
                <div class="card-body p-2">
                    <h6 class="card-title text-dark fw-bold mb-2">
                        {{ product.name | truncate(20, True) }}
                    </h6>
                    <p class="card-text mb-2">
                        <strong>Price:</strong> ${{ product.price }}
                    </p>
                    <a href="" class="btn btn-dark btn-sm w-100 rounded-4">Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
        <br>
    </div>
    {% else %}
    <div class="alert alert-info text-center">
        No active products found in the MEN category.
    </div>
    {% endif %}
</div>
{% endblock %}